a {
    color: #2980b9;
}

table {
    width: 100%;
    overflow: hidden;
    background-color: white;
    padding: 20px;
}

td, th {
    position: relative;
    color: #2c3e50;
    padding: 10px;
}

th {
    font-weight: bold;
}

table tr:nth-child(odd) td{
    background-color: #f2faff;
}
