.practice-info {
    width: 50%;
    margin: 20px;
}

.practice-info div {
    margin: 10px;
}

.practice-info h1 {
    text-align: center;
    color: #006699;
}

.centered {
    text-align: center;
}

.detail-container {
    justify-content: center;
    align-items: stretch;
}

.detail {
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.detail-text {
    font-size: 20px;
    padding: 30px;
    text-align: center;
    color: white;
}

.detail-text-type {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: darkblue;
}

.detail-buttons {
    align-items: center;
    justify-content: center;
}

.correctButton {
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: forestgreen;
}

.incorrectButton {
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: crimson;
}

