.spinner {
    margin-left: 45%;
    margin-top: 200px;
}

table {
    width: 100%;
    overflow: hidden;
    background-color: white;
    padding: 20px;
}

td, th {
    position: relative;
    color: #2c3e50;
    padding: 10px;
}

th {
    font-weight: bold;
    text-align: left;
}

table tr:nth-child(odd) td{
    background-color: #f2faff;
}

@media screen and (max-width: 63rem) {
    th:nth-child(n+4), td:nth-child(n+4) {
        display: none
    }
}

@media screen and (min-width: 64rem) {
    th:nth-child(n+4), td:nth-child(n+4) {
        display: flow
    }
}

.goal-button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    text-align: left;
    cursor: pointer;
}

.stimulus_thumbnail  {
    height: 100px;
}

.stimulus_img {
    padding-top: 40px;
    width: 300px;
}


.box {
    border: 3px #7f7f8060 ridge;
}

.header-box {
    border: 3px #7f7f8060 ridge;
    text-align: center;
    background-color: #f2f9ff5f;
    padding: 5px;
}
