table {
    width: 100%;
    overflow: hidden;
    background-color: white;
    padding: 20px;
}

td, th {
    position: relative;
    color: #2c3e50;
    padding: 10px;
}

th {
    font-weight: bold;
    text-align: left;
}

table tr:nth-child(odd) td{
    background-color: #f2faff;
}

.icon img {
    height: 20px;
}

@media screen and (max-width: 63rem) {
    th:nth-child(n+4), td:nth-child(n+4) {
        display: none
    }
}

@media screen and (min-width: 64rem) {
    th:nth-child(n+4), td:nth-child(n+4) {
        display: flow
    }
}

.goal-button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    text-align: left;
    cursor: pointer;
}

.image-thumbnail  {
    max-width: 100px;
}

.box {
    border: 3px #7f7f8060 ridge;
}

.header-box {
    border: 3px #7f7f8060 ridge;
    text-align: center;
    background-color: #caefffbb;
    padding: 5px;
}

.form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #caefff3a;
}

.form div {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form .button-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.form div .btn {
    margin: 5px;
}

.form .form-separator-box {
    border: 2px #7f7f8060 solid;
    align-items: center;
    background-color: #caefffbb;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-text {
    font-size: 16px;
    text-decoration: none;
}

.goal-image-input {
    max-width: 150px;
    height: 150px;
    background-color: white;
    border: 2px solid lightgrey;
}

.image-input {
    max-width: 150px;
    height: 200px;
    background-color: white;
    border: 2px solid lightgrey;
}

.image-hide {
    display: none;
}

.button-link {
    background: none;
    margin: 0;
    padding-left: 5px;
    border: none;
    cursor: pointer;
}
