.response-totals {
    padding: 20px;
    max-width: 300px;
    margin: auto;
}

.response-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.response-line div {
    padding: 5px 10px 5px;
}

